.body {
    width: 1440px;
    margin: auto;
    background: lightgray;
    min-height: 300px;
}

.header {
    height: 150px;
    background: blue;
}

#nav {
    height: 150px;
    background: dodgerblue;
}

.mid {
    display: flex;
}

.main {
    width: 60%;
    background: deepskyblue;
    height: 600px;
}

.aside {
    width: 40%;
    background: mediumpurple;
    height: 600px;
}

.footer {
    height: 150px;
    background: powderblue;
}